@import nib

.btn
	display: inline-block
	border-radius: 2px
	&:hover
		text-decoration: none
.btn-s
	height: 24px
	line-height: 24px
	padding: 0 10px
	font-size: 12px
.btn-m
	height: 36px
	line-height: 36px
	padding: 0 15px
	font-size: 14px
.btn-b
	height: 50px
	line-height: 50px
	padding: 0 20px
	font-size: 18px
.btn-blue
	background-color: #287FA8
	color: #fff
	&:hover
		background-color: #076E96
.btn-gray
	background-color: #eee
	color: #333
	&:hover
		background-color: #ddd
.btn-disabled
	background-color: #f3f3f3
	color: #bbb
	&:hover
		background-color: #f3f3f3