html,body{
	height: 100%;
	background-color: #e3e3e3;
}
.login-box{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 350px;
	margin: -178px 0 0 130px;
	background-color: #fafafa;
	border: 1px solid #fff;
	box-shadow: 0 0 80px rgba(0,0,0,.2);
	border-radius: 3px;
}
.login-box header{
	height: 50px;
	line-height: 60px;
	font-size: 24px;
	padding: 0 20px;
	text-align: center;
	color: #ccc;
}
.login-box section{
	margin: 20px 30px;
}
.login-box p{
	margin-top: 10px;
	height: 36px;
	line-height: 36px;
}
.login-box .input-item{
	position: relative;
	padding-left: 60px;
}
.login-box .input-item label{
	position: absolute;
	left: 0;
	top: 0;
	width: 56px;
	text-align: right;
	font-size: 14px;
}
.login-box .input-item input{
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	border: 1px solid #ddd;
	width: 208px;
	border-radius: 2px;
}
.login-box .captcha input{
	width: 100px;
	border-radius: 2px 0 0 2px;
	float: left;
}
.login-box .captcha img{
	float: left;
	width: 105px;
	height: 36px;
	margin-left: 3px;
	background-color: #eee;
	vertical-align: middle;
	border-radius: 0 2px 2px 0;
}
.login-box .auto-login{
	padding-left: 60px;
}
.login-box .auto-login input{
	margin-right: 5px;
}
.login-box .submit{
	width: 290px;
	height: 36px;
	font-size: 14px;
	border: none;
	background-color: #287FA8;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
}
.login-box .submit:hover{
	background-color: #076E96;
}
.login-box .other{
	text-align: right;
}
.login-box .other a{
	margin-left: 10px;
	color: #287FA8;
}
.login-box .other a:hover{
	color: #076E96;
}