html
	background-color: #eee
body
	padding-bottom: 100px
	color: #333
	font-family: Tahoma,sans-serif,Microsoft YaHei
.header
	position: relative
	height: 80px
	background-color: #fff
	box-shadow: 0 5px 5px rgba(0,0,0,.1)
	.container
		width: 960px
		margin: 0 auto
	.logo
		float: left
		height: 40px
		line-height: 40px
		padding-left: 60px
		margin: 20px 0
		background: url("logo.png") no-repeat
		color: #287fa8
		font-size: 28px
		text-decoration: none
	h1
		float: left
		font-size: 28px
		line-height: 28px
		color: #999
		border-left: 1px solid #ddd
		margin: 26px 10px
		padding-left: 10px
.body
	height: 500px
	background: url("login-bg.png") no-repeat 50% 50%
	.container
		position: relative
		width: 960px
		margin: 0 auto
.login-box
	position: absolute
	top: 50px
	right: 0
	background-color: #fff
	border-radius: 3px
	box-shadow: 0 0 10px rgba(0,0,0,.1)
.login-box header{
	height: 50px;
	line-height: 60px;
	font-size: 24px;
	padding: 0 20px;
	text-align: center;
	color: #6ba2d8;
}
.login-box section{
	margin: 20px 30px;
}
.login-box p{
	margin-top: 10px;
	height: 36px;
	line-height: 36px;
}
.login-box .input-item{
	position: relative;
	padding-left: 60px;
}
.login-box .input-item label{
	position: absolute;
	left: 0;
	top: 0;
	width: 56px;
	text-align: right;
	font-size: 14px;
}
.login-box input:focus{
	border-color: #6ba2d8;
}
.login-box .input-item input{
	width: 210px;
}
.login-box .captcha input{
	width: 100px;
	border-radius: 2px 0 0 2px;
	float: left;
}
.login-box .captcha img{
	float: left;
	width: 107px;
	height: 36px;
	margin-left: 3px;
	background-color: #eee;
	vertical-align: middle;
	border-radius: 0 2px 2px 0;
}
.login-box .auto-login{
	padding-left: 60px;
}
.login-box .auto-login input{
	margin-right: 5px;
}
.login-box .submit{
	width: 290px;
}
.login-box .other{
	text-align: right;
}
.login-box .other a{
	margin-left: 10px;
	color: #287FA8;
}
.login-box .other a:hover{
	color: #076E96;
}

.footer
	position: absolute
	top: 580px
	bottom: 0
	width: 100%
	min-height: 100px
	_height: 100px
	background-color: #fff
	box-shadow: 0 -5px 5px rgba(0,0,0,.1)
	.container
		width: 960px
		margin: 0 auto